.profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 45px;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .profile {
        flex-direction: column;
        margin: 0;
        justify-content: center;
    }
}
