.header__image {
    width: 142px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 41px;
    /* background-image: url(../../../images/logo.svg); */
    background-size: 142px 33px;
    background-repeat: no-repeat;
    border: none;
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .header__image {
        width: 104px;
        height: 24px;
        margin: 28px 0 31px 31px;
    }
}